.body-img{
background: url(./images/background.jpg) no-repeat;
}
.form-color{
    background-color: darkgray;
}
.card-form{
    justify-content: center;
    align-content: center;
    margin: 15% 35%;
  
}
.card-input{
    width: 85%;
    border-radius: 10px;
}
.card-button{
    border-radius: 20px;    
    margin-left:30%
}
#center{
    text-align: center;
}
.card-btn{
    display: flex;
}
.card-plus{
    position:relative;
}
.card-minus{
position:absolute;
}
.text-interst{
    width: 76%;
    border-radius: 10px;
}
